ultralytics>=8.0.0
opencv-python>=4.8.0
numpy>=1.21.0,<2.0.0
torch>=2.0.1+cpu
torchvision>=0.15.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
websockets>=11.0.3
av>=10.0.0
matplotlib>=3.7.1
deep-sort-realtime==1.3.2
pillow>=10.0.0
scipy>=1.11.0